# General
.DS_Store
Thumbs.db
*.swp
*.swo

# Environment files
.env
.env.local
.env.*.local

# Logs
logs
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules/

# Build outputs
dist/
build/
coverage/
.nyc_output/
*.tsbuildinfo

# Editor/IDE
.idea/
.vscode/

# OS / tooling
.vercel/
.netlify/
.turbo/

# Frontend (Next.js)
frontend/.next/
frontend/out/
frontend/node_modules

# Backend specific
backend/.cache/

# Arduino / ESP
esp/build/
esp/.pio/
esp/.arduino*


